doctype html

html(lang="en")
    include ./partials/head
    body
        include ./partials/header
        .centered-container
            main
                h2 Hello World!
                p Hello world. This is a gulp website template that is built with typescript, sass and pug.
    include ./partials/scripts
